<phpunit xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
         stopOnError='true'
         stopOnFailure='true'
         stopOnWarning='true'
         xsi:noNamespaceSchemaLocation='https://schema.phpunit.de/10.5/phpunit.xsd'
         colors='true'>
    <testsuites>
        <testsuite name='Slimgry Test Suite'>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
